In [4]:
class Employee:
    def __init__(self, name, l_name, salary, exp):
        self.name = name
        self.last_name = l_name
        self.base_salary = salary
        self.experience = exp


class Developer(Employee):
    def __init__(self, name, l_name, salary, exp):
       super().__init__(name, l_name, salary, exp)
       

class Designer(Employee):
    def __init__(self, name, l_name, salary, exp, er):
       super().__init__(name, l_name, salary, exp)
       self.er = er

class Manager(Employee):
    def __init__(self, name, l_name, salary, exp, team):
       super().__init__(name, l_name, salary, exp)
       self.team = team   


class Department:
    def __init__(self, managers):
         self.managers = managers
    
    def giveSalary(self):
        print('\n'.join(self.countedSalary()))

    def countedSalary(self):
        ans = []
        for m in self.managers:
            salary = m.base_salary
            if m.experience > 5:   salary = salary*1.2 + 500
            elif m.experience > 2: salary += 200

            if len(m.team)>10: salary += 300
            elif len(m.team)>5: salary += 200
            
            if sum(isinstance(x, Developer) for x in m.team)>len(m.team)/2: salary *= 1.1
            ans.append(f'\n{m.name} {m.last_name} отримав(-ла) {salary} шекелей')

            for e in m.team:
                salary = e.base_salary

                if e.experience > 5:
                    salary = salary*1.2 + 500
                elif e.experience > 2:
                    salary += 200
                
                if isinstance(e, Designer):
                    salary *= e.er

                ans.append(f'   {e.name} {e.last_name} отримав(-ла) {salary} гроші')

        return ans

In [5]:
department = Department(
    [
        Manager('Богдан', 'Бебра', 4500, 8,
                [
                    Designer('Ілья',  'Залутський', 15530, 3,   1),
                    Designer('Денис',  'Шаріпов',      14100, 1.5, 0.8),
                    Designer('Олександр',   'Костильов',     15300, 3.5, 0.7),
                    Designer('Валерій',    'Ваковський',   10400, 1.5, 0.9),
                    Developer('Андрій', 'Кухарський',   25000, 5)
                ]),
        Manager('Андрій', 'Городенський', 19000, 7,
                [
                    Designer('Агата', 'Мельник',    23600,   1,   0.8),
                    Designer('Вишезор',    'Шевченко', 12300,   0.5, 0.3),
                    Developer('Буревій',    'Коваленко',  54800,   2.5),
                    Developer('Богдана',  'Бондаренко',    11300,   2),
                    Developer('Дмитро',  'Бойко',    23900, 3),
                ]),
        Manager('Вероніка', 'Ткаченко', 460230, 4,
                [
                    Designer('Анна',     'Кравченко',    234600, 1,   0.5),
                    Designer('Дмитро',    'Ковальчук', 34245, 1.5, 0.7),
                    Designer('Тарас',    'Коваль',    67744, 2,   0.9),
                    Designer('Зінаїда',    'Олійник',    65600, 5,   0.4),
                    Designer('Захар',    'Шевчук',  6456, 1.5, 0.3),
                    Designer('Іванна',    'Поліщук',    64800, 1.5, 0.3),
                    Developer('Денис',    'Ткачук',    52345, 3),
                    Developer('Владислава',    'Савченко',     334500, 2.5),
                    Developer('Вікторія','Бондар',   35620, 3.5),
                    Developer('Єгор',    'Мороз',   353450, 1),
                    Developer('Клара',  'Лисенко',    45340, 2)
                ])
        
    ])

In [6]:
department.giveSalary()

Богдан Бебра отримав(-ла) 5900.0 шекелей
   Ілья Залутський отримав(-ла) 15730 гроші
   Денис Шаріпов отримав(-ла) 11280.0 гроші
   Олександр Костильов отримав(-ла) 10850.0 гроші
   Валерій Ваковський отримав(-ла) 9360.0 гроші
   Андрій Кухарський отримав(-ла) 25200 гроші

Андрій Городенський отримав(-ла) 25630.000000000004 шекелей
   Агата Мельник отримав(-ла) 18880.0 гроші
   Вишезор Шевченко отримав(-ла) 3690.0 гроші
   Буревій Коваленко отримав(-ла) 55000 гроші
   Богдана Бондаренко отримав(-ла) 11300 гроші
   Дмитро Бойко отримав(-ла) 24100 гроші

Вероніка Ткаченко отримав(-ла) 460730 шекелей
   Анна Кравченко отримав(-ла) 117300.0 гроші
   Дмитро Ковальчук отримав(-ла) 23971.5 гроші
   Тарас Коваль отримав(-ла) 60969.6 гроші
   Зінаїда Олійник отримав(-ла) 26320.0 гроші
   Захар Шевчук отримав(-ла) 1936.8 гроші
   Іванна Поліщук отримав(-ла) 19440.0 гроші
   Денис Ткачук отримав(-ла) 52545 гроші
   Владислава Савченко отримав(-ла) 334700 гроші
   Вікторія Бондар отримав(-ла) 35820 гроші
   Єгор Мороз отримав(-ла) 353450 гроші
   Клара Лисенко отримав(-ла) 45340 гроші